<button class="back-btn">back</button>
<div class="single-project">
    <div class="slides">
        <figure>
            <img alt="{{{project.name}}}" src="{{project.imageUrl}}">
        </figure>
        <div class="navigations">
            <span class="prev">prev</span>
            <span class="next">next</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h4>Price: <span>&euro;{{{project.price}}}</span></h4>
            <p>{{{project.snippet}}}</p>
            <p>{{{project.description}}}</p>
        </div>
    </div>
</div>